*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.wrap{
  width:420px;
  background:rgba(0,0,0,0.1);
  height:100vh;
  margin:0 auto;
  padding-top:12px;
}

.simple{
  width:375px;
  margin:0 auto;
  background:#fff;
  box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.2);
  height:270px;
  padding:24px;
}
.simple h3{
  display:inline-block;
  margin-right:10px;
  position:relative;
  font-size:30px;
  font-weight:500;
}
.simple h3::after{
  content:"";
  width:1px;
  height:12px;
  border-right:2px solid #000;
  position:absolute;
  bottom:8px;
  right:-6px;
}
.simple p{
  display:inline-block;
}
.simple .weather_icon{
  vertical-align: middle;
  margin-left:90px;
  width:70px;
}
.city_name{
  margin-top:30px;
  font-size:20px;
}
.humidity{
  font-size:12px;
}
.simple .high{
  display:block;
  margin-top:10px;
  font-size:14px;
}
.simple .sensible{
  font-size:10px;
  display:block;
}
.simple .week_date{
  margin-top:15px;
  font-size:14px;
}
.today{
  width:375px;
  margin:15px auto 0;
  background:#fff;
  box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.2);
  height:200px;
  padding:24px;
}
.day_wrap{
  width:81px;
  margin-top:30px;
  text-align:center;
  display:inline-block;
}
.today .today_icon{
  width:40px;
}
.today .tem{
  font-size: 12px;
    font-weight: bolder;
    line-height: 24px;
}
.today .time{
  font-size: 12px;
  line-height: 24px;
}
.weekend{
  width:375px;
  margin:15px auto 0;
  background:#fff;
  box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.2);
  height:400px;
  padding:24px 12px;
}
.weekend h4{
  margin-top:15px;
  margin-left:12px;
}

.weekend_item{
  width:81px;
  margin-top:35px;
  text-align:center;
  display:inline-block;
  margin-left:9px;
}
.weekend_item img{
  width:70px;
}
.weekend_item:first-child{
  margin-left:0;
}
.weekend_item:nth-child(5){
  margin-left:0;
}

.weekend_item .time{
  font-size:11px;
}
input{
  border-top:none;
  border-left:none;
  border-right:none;
  outline:none;
}